/*# Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
## Colors
### Primary
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)
### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography
### Body Copy
- Font size: 15px
### Font
- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /*Paragraph - the below one*/
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
  font-family: 'Big Shoulders Display', cursive;
  background: var(--very-light-gray);
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--very-light-gray);
  font-weight: 700;
  font-size: 35px;
}

p:not(.learn-more-button) {
  color: var(--transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  padding: 25px 10px 30px 0;
  font-weight: 200;
  line-height: 1.8;
}

.component-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 10%;
}

.component-column {
  padding: 40px;
}

.column-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--bright-orange);
}

.column-1 button {
  color: var(--bright-orange);
  font-weight: 700;
}

.column-1 button:hover {
  color: var(--very-light-gray);
  background-color: transparent;
  cursor: pointer;
}

.column-2 {
  background-color: var(--dark-cyan);
}

.column-2 button {
  color: var(--dark-cyan);
  font-weight: 700;
}

.column-2 button:hover {
  color: var(--very-light-gray);
  background-color: transparent;
  cursor: pointer;
}

.column-3 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--very-dark-cyan);
}

.column-3 button {
  color: var(--very-dark-cyan);
  font-weight: 700;
}

.column-3 button:hover {
  color: var(--very-light-gray);
  background-color: transparent;
  cursor: pointer;
}

.learn-more-button {
  margin-top: 30px;
  background: var(--very-light-gray);
  width: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--very-light-gray);
}

.attribution {
  margin-top: 20px;
  text-align: center;
  color: var(--dark-cyan);
}

.attribution a {
  color: var(--bright-orange);
  text-decoration: none;
}

@media screen and (max-width: 799px) {
  .component-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 10%;
  }

  p:not(.learn-more-button) {
    padding: 5px 10px 10px 0;
  }

  .component-column {
    padding: 50px 65px 50px 65px;
  }

  .column-1 {
    background-color: var(--bright-orange);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .column-3 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .learn-more-button{
    margin-top: 5px;
  }
}
